<a href="https://colab.research.google.com/github/hoanvutt/python/blob/main/reviewbatdongsanaz_PageRank_Init.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Đọc dự liệu từ file

In [ ]:
data = pd.read_excel('reviewbatdongsanaz.xlsx')

Xoá bớt những cột không cần thiết, chỉ giữa lại **post_id, user_id, username, comments_full**

In [ ]:
data_pagerank = data.drop(['text', 'post_text', 'shared_text', 'original_text', 'time', 'timestamp', 'image', 'image_lowquality', 'images', 'images_description', 'images_lowquality', 'images_lowquality_description', 'video', 'video_duration_seconds', 'video_height', 'video_id', 'video_quality', 'video_size_MB', 'video_thumbnail', 'video_watches', 'video_width', 'likes', 'comments', 'shares', 'post_url', 'link', 'links', 'user_url', 'is_live', 'factcheck', 'shared_post_id', 'shared_time', 'shared_user_id', 'shared_username', 'shared_post_url', 'available', 'reactors', 'w3_fb_url', 'reactions', 'reaction_count', 'with', 'page_id', 'sharers', 'image_id', 'image_ids', 'was_live', 'fetched_time', 'header', 'video_ids', 'videos'], axis=1)

Lấy ra những cột quan trọng nhất để áp dụng thuật toán PageRank

In [ ]:
data_pagerank.columns

Index(['post_id', 'user_id', 'username', 'comments_full'], dtype='object')

In [ ]:
data_pagerank.head()

,post_id,user_id,username,comments_full
0,6726174710786118,100001519055568,Hoàng Quốc Dũng,"[{'comment_id': '6726569154080007', 'comment_u..."
1,6825858720817716,100001519055568,Hoàng Quốc Dũng,"[{'comment_id': '6825862897483965', 'comment_u..."
2,6821126851290903,100033982608770,Nam Land,"[{'comment_id': '6828965457173709', 'comment_u..."
3,6828074313929490,100022158352693,Đình Nguyễn,"[{'comment_id': '6828755983861323', 'comment_u..."
4,6798921736844748,100022158352693,Đình Nguyễn,"[{'comment_id': '6799136446823277', 'comment_u..."

In [ ]:
import re
import json
import sys

columns = ['node_parent', 'node_child']
# columns = ['user_name', 'node_parent']
df = pd.DataFrame(columns=columns) 

for data_row in range(len(data_pagerank)):
  # user_id
  user_id = data_pagerank.loc[data_row, 'user_id']
  username = data_pagerank.loc[data_row, 'username']

  # commenter_id
  try:
    comments_full = data_pagerank.loc[data_row]['comments_full']
    comments_formarted = comments_full.replace("\'", "\"")
    comments_formarted = comments_formarted.replace("None", "\"\"")
    comments_formarted = re.sub("datetime\.datetime\([0-9\s\,]*\)", "\"\"", comments_formarted)
    comments_formarted = json.loads(comments_formarted)
    comments_formarted = pd.json_normalize(comments_formarted)
  except:
    break

  for comment_row in range(len(comments_formarted)):
    # user_id
    commenter_id = comments_formarted.loc[comment_row, 'commenter_id']
    # commenter_name = comments_formarted.loc[comment_row, 'commenter_name']

    # create new dataframe
    df_temp = pd.DataFrame([[user_id, commenter_id]], columns=columns)
    # df_temp = pd.DataFrame([[username, user_id]], columns=columns)
    # df_temp = pd.DataFrame([[commenter_name, commenter_id]], columns=columns)
    df = df.append(df_temp, ignore_index=True)

In [ ]:
df = df.drop_duplicates()
df.to_csv('data_pagerank.txt', encoding='utf-8', index=False)
# df.to_csv('data_pagerank_with_name.txt', encoding='utf-8', index=False)

In [ ]:
import re
import json
import sys

columns = ['node_parent', 'node_child']
# columns = ['user_name', 'node_parent']
df = pd.DataFrame(columns=columns) 

for data_row in range(len(data_pagerank)):
  # user_id
  user_id = data_pagerank.loc[data_row, 'user_id']
  username = data_pagerank.loc[data_row, 'username']

  # commenter_id
  try:
    comments_full = data_pagerank.loc[data_row]['comments_full']
    comments_formarted = comments_full.replace("\'", "\"")
    comments_formarted = comments_formarted.replace("None", "\"\"")
    comments_formarted = re.sub("datetime\.datetime\([0-9\s\,]*\)", "\"\"", comments_formarted)
    comments_formarted = json.loads(comments_formarted)
    comments_formarted = pd.json_normalize(comments_formarted)
  except:
    break

  for comment_row in range(len(comments_formarted)):
    # user_id
    commenter_id = comments_formarted.loc[comment_row, 'commenter_id']

    # create new dataframe
    df_temp = pd.DataFrame([[user_id, commenter_id]], columns=columns)
    df = df.append(df_temp, ignore_index=True)